.card-container {
  overflow: hidden;
  box-shadow: 1px 1px 10px -5px;
  transition: 0.3s;
  animation: ease-in;
  margin-bottom: 5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-family-secondary);
  height: 40rem;
  width: 30rem;
  background: var(--mainBlack);
}
.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px 0px;
  cursor: pointer;
  backdrop-filter: drop-shadow(4px 4px 10px rgb(0, 0, 0));
}
/* .card-container:hover img {
  opacity: 0.2;
} */
.card-header {
  width: 30rem;
}
.card-header img {
  overflow: hidden;
  height: 30rem;
  width: 30rem;
  object-fit: cover;
}

.card-info {
  height: 10rem;
  width: 30rem;
  padding-left: 2rem;
  background: white;
}
/* .card-info:hover {
  opacity: 0.2;
} */
.card-info h4 {
  font-weight: 1200;
}
.cart a h4 {
  color: blue !important;
}

h3,
h4,
p {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.card-title h3 {
  font-size: 2rem;
}

.card-footer {
  display: flex;
  justify-content: center;
  margin: 2rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.btn {
  display: flex;
  margin: 1.5rem 1rem 1.5rem 1rem;
}

.wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 5rem;
  flex-direction: column;
}
.cardLayout {
  width: 100%;
}
.cardLayout > * {
  display: grid;
  grid-template: auto/ repeat(auto-fit, minmax(32.5rem, 0fr));
  gap: 1rem 1rem;
  justify-content: center;
  align-items: center;
  /* grid-template: auto/ repeat(auto-fit, minmax(32.5rem, 1fr)); */
}
/* .cardLayout > * {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
} */

.cart {
  color: blue;
}
