.searchBar-container {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.searchBar {
  width: 40rem;
}

.level {
  display: flex;
  flex-direction: row;
  margin-right: -4rem;
}
.level > * {
  margin-right: 5rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: var(--font-family-secondary);
  font-weight: 900;
  /* transition: var(--mainTransition); */
}
.bg-salmon {
  background-color: salmon;
  color: white;
}
.cateAll {
  border: none;
  background: transparent;
}

.cateAll:focus {
  border-bottom: 1px solid var(--color-button-dark);
}

.cateAll:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--color-button-dark);
}

.form-input {
  width: 100%;
  border: transparent;
  background: #f1f5f8;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  height: 4rem;
  text-align: center;
}

/*Phone-medium width < 480px, 1rem = 5px*/
@media (max-width: 30em) {
  .searchBar {
    max-width: 80%;
  }
  .searchBar-container .level {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
