.mainContainer {
  font-family: var(--font-family-secondary);
  font-weight: 800;
  display: flex;
  margin: 7rem 5rem;
  gap: 5rem;
}
.left-trail {
  display: flex;
  /* margin: 5rem; */
  flex: 1;
  justify-content: center;
  align-items: center;
}
.right-trail {
  display: flex;
  flex: 1;
}
.trail-img {
  border: transparent;
  border-radius: 15px 50px 30px;
  max-width: 100%;
  height: auto;
}

.trail-info {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.trail-header {
  font-size: 4rem;
  color: var(--mainBlack);
  text-align: center;
}

.cta {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin-top: 2rem;
}

.cta:hover {
  background: #3cb0fd;
  text-decoration: none;
}

/*Big-Desktop width < 1800px, 1rem = 112px*/
@media (max-width: 112.5em) {
}
/*Tablet-Landscape width < 1200px, 1rem = 9px*/
@media (max-width: 75em) {
  /* .left-trail img {
    max-width: 80%;
  } */
}
/*Tablet-Port width < 900px, 1rem = 8px*/
@media (max-width: 56.25em) {
  .mainContainer {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .description {
    text-align: center;
  }
}
/*Phone-Large width < 600px, 1rem = 6.5px*/
@media (max-width: 37.5em) {
}
/*Phone-medium width < 480px, 1rem = 5px*/
@media (max-width: 30em) {
}
/*Phone-Small width < 390px, 1rem = 4px*/
@media (max-width: 24.375em) {
}
