.container {
  display: flex;
  margin: 10rem;
  margin-top: 5rem;
}

.title-aboutUs,
.about-info {
  display: flex;
  font-family: var(--font-family-secondary);
  font-weight: 800;
  font-size: 2rem;
  justify-content: center;
  text-align: left;
  margin-bottom: 2rem;
}

.title-aboutUs {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.right-aboutUs {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.left-aboutUs {
  display: flex;
  flex: 1;
  height: 40rem;
}
.about-img {
  width: 100%;
  height: auto;
}

/*Big-Desktop width < 1800px, 1rem = 112px*/
@media (max-width: 112.5em) {
}
/*Tablet-Landscape width < 1200px, 1rem = 9px*/
@media (max-width: 75em) {
}
/*Tablet-Port width < 900px, 1rem = 8px*/
@media (max-width: 56.25em) {
  .about-img {
    width: 30rem;
  }
  .container {
    margin: 0rem;
    margin-top: 5rem;
  }
}
/*Phone-Large width < 600px, 1rem = 6.5px*/
@media (max-width: 37.5em) {
}
/*Phone-medium width < 480px, 1rem = 5px*/
@media (max-width: 30em) {
}
/*Phone-Small width < 390px, 1rem = 4px*/
@media (max-width: 24.375em) {
}

/*Contact Me*/

.contact-container {
  display: flex;
  height: 60vh;
  margin-top: 15rem;
}
.form-left {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
}
.main-hero img {
  transform: scale(2);
  width: 100%;
}
.form-right {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
}
.form-right > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.form-right > :nth-child(1) {
  font-weight: bold;
  font-size: 4.8rem;
  position: absolute;
  top: -10rem;
  color: var(--color-secondary);
}

.form-right .user {
  width: 25rem;
  height: 3rem;
  padding: 0.3rem;
  outline: none;
  border: 2px solid #0000009e;
  border-radius: 8px;
  font-size: 1.6rem;
}

textarea {
  height: 9.2rem !important;
}
.submit-container {
  top: 1.6rem;
  left: 20rem;
}

.submitBtn {
  cursor: pointer;
  border-radius: 3rem;
  color: var(--color-primary);
  background: var(--color-secondary);
  text-shadow: 1px 1px 5px #666666;
  border: none;
  font-size: 2rem;
  padding: 1rem 2.5rem 1rem 2.5rem;
  box-shadow: 0px 1px 5px #6666665b;
  transition: 0.2s;
}

.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Tablet-Landscape width < 1200px, 1rem = 9px*/
@media (max-width: 75em) {
}
/*Tablet-Port width < 900px, 1rem = 8px*/
@media (max-width: 56.25em) {
  .form-left {
    flex: 1.5;
  }
  .main-hero img {
    transform: scale(1.1);
  }
  /* .contact-header:nth-child(1) {
    top: -10rem;
    left: -10rem;
    transform: translate(-10rem, -10rem);
  } */
}
/*Phone-Large width < 600px, 1rem = 6.5px*/
@media (max-width: 37.5em) {
  /* .contact-header:nth-child(1) {
    top: -10rem;
    left: -15rem;
    transform: translate(-10rem, -15rem);
  } */
  .contact-container {
    width: 100vw;
    transform: scale(0.9);
  }
}
/*Phone-medium width < 480px, 1rem = 5px*/
@media (max-width: 30em) {
  .contact-container {
    height: 50vh;
  }
}
/*Phone-Small width < 390px, 1rem = 4px*/
@media (max-width: 24.375em) {
  .contact-container {
    height: 45vh;
  }
}
