/* 
====== 
Variables 
======
*/
:root {
  --color-primary: #ffffff;
  --color-secondary: #dedede;
  --color-button-dark: #000000;
  --font-family-primary: "Satisfy", cursive;
  --font-family-secondary: "Lato", sans-serif;
  --color-background: rgb(66, 194, 255);
  /* --button-background: #4b709e; */
  /* --primary-button-background: #fe7649; */
  /* --background-color: #e2efff; */
  --primaryColor: #476a2e;
  --mainBlack: #222;
  /* --mainWhite: #fff; */
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
  --mainTransition: all 0.3s linear;
}
/*
====== 
Global Styles 
======
*/

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Satisfy&display=swap");

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
}

body {
  font-family: var(--font-family-primary, --font-family-secondary);
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
}
